@tailwind base;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }


  /* The following is for handling form elements with Mantine */
  .button-primary {
    @apply m-auto my-2 w-full rounded-full bg-[#ffa51b] p-2 shadow-md;
  }

  .button-accent {
    @apply m-auto w-[243.94px] rounded-full border-[0.81px] border-[#FFA51B] bg-[#FFA51B] p-2 text-sm tracking-wide text-[#2B3C47] shadow-md hover:bg-[#FF9A00] hover:outline hover:outline-1 hover:outline-[#F88639] active:bg-[#F88639] active:outline-[#43A677] disabled:bg-[#A8AFB4];
  }
  .button-light {
    @apply m-auto w-[253.7px] rounded-full border-[0.81px] border-[#FFA51B] bg-[#F4FBF9] p-2 text-sm text-[#2B3C47]  shadow-md hover:bg-[#D1E8E6] hover:outline hover:outline-1 hover:outline-[#FFA51B] active:bg-[#B5E6D4] active:outline-[#E8F4F3] disabled:bg-[#A8AFB4];
  }

  .label-primary {
    @apply mt-2 w-full pl-2 text-left font-sans text-sm font-semibold;
  }

  div:has(> .input-primary) {
    @apply w-full;
  }

  .input-primary {
    @apply w-full rounded-lg border border-black px-2 dark:text-black;
  }
  /* End of Mantine form elements */
}

@tailwind components;
@tailwind utilities;

@layer components {
  .section-base {
    @apply mb-2;
  }

  .section-header-base {
    @apply section-base font-bold;
  }

  .section-body {
    @apply mb-6;
  }
  .section-header {
    @apply section-header-base text-2xl;
  }

  .section-subheader {
    @apply section-header-base text-xl;
  }

  .section--tertiary-header {
    @apply section-header-base text-lg;
  }

  .section-paragraph {
    @apply section-base text-base leading-relaxed;
  }

  .list {
    @apply section-base space-y-2;
  }

  .list-item {
    @apply flex list-inside list-disc items-center space-x-2;
  }
}