.input{
    width: 100%;
    border-radius: 0.5rem;
    outline: 1px solid #2C1D15;
    padding: 0.5rem;
    color: #2C1D15;
    text-align:start;
}
.inputError {
    border: 1px solid #E4190C !important; /* Ensures this style has higher specificity */
}
.label {
    text-align:start;
    font-weight: 500;
    font-size: smaller;
}

.root {
    margin-bottom:0.5rem;
}
.error{
    color: #E4190C;
    font-size: 0.75rem;
    margin-top: 0.25rem;
}
