.input{
    width: 100%;
    border-radius: 0.5rem;
    outline: 1.5px solid #938F99;
    padding: 0.5rem;
    color: #2B3C47;
    text-align:start;
}
.inputError {
    border: 1.5px solid #E4190C !important; /* Ensures this style has higher specificity */
    outline: 0.1px solid #E4190C;
}
.input:focus {
    outline: none; /* Optional: removes the default focus outline */
    border: 2px solid #307654; /* Change to your preferred focus color */
}
.label {
    text-align:start;
    font-weight: 500;
    font-size: smaller;
}

.root {
    margin-bottom:1rem;
}
.error{
    color: #E4190C;
    font-size: 0.75rem;
    margin-top: 0.25rem;
}
.mantine-tooltip {
    background-color: #2C1D15;
    color: #FFA51B;
    border: 1px solid #FFA51B;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 0.25rem;
    margin-top: 0.25rem;
}
